extends ../layout
block content
    form.form-horizontal(method='post', autocomplete='off')
        fieldset
            // Form Name
            legend Ny faktura
            .form-group
                label.col-md-4.control-label(for='id_num') Fakturanummer
                .col-md-4
                    input#id_num.form-control.input-md(name='id_num', type='number', placeholder='', required='', value='')
            .form-group
                label.col-md-4.control-label(for='tenant_id') Bruker-ID
                .col-md-4
                    input#tenant_id.form-control.input-md(name='tenant_id', type='text', placeholder='', required='', value='')
            .form-group
                label.col-md-4.control-label(for='amount') Beløp
                .col-md-4
                    input#amount.form-control.input-md(name='amount', type='number', placeholder='', required='', value='')
            .form-group
                label.col-md-4.control-label(for='tenant_id') Dato
                .col-md-4
                    input#date.form-control.input-md(name='date', type='text', placeholder='', required='', value='')
            hr
            .form-group
                label.col-md-4.control-label(for='save') Lagre faktura
                .col-md-4
                    button#save.btn.btn-success(name='save') Lagre

    script.
        $(function () {
            $('#save').on('click', function () {
                $.post('./', {
                    id_num: $('#id_num').val(),
                    tenant_id: $('#tenant_id').val(),
                    amount: $('#amount').val(),
                    date: $('#date').val(),
                }, function (data) {
                    if (data.err) {
                        swal(data.err);
                        return;
                    }

                    window.location = 'list';
                });

                return false;
            });

        });
