extends ../layout
block content
    form.form-horizontal(method='post', autocomplete='off')
        fieldset
            legend Nytt rom
            .form-group
                label.col-md-4.control-label(for='number') Nummer
                .col-md-4
                    input#number.form-control.input-md(name='number', type='number', placeholder='', required='')
            .form-group
                label.col-md-4.control-label(for='price') Pris
                .col-md-4
                    input#price.form-control.input-md(name='price', type='text', placeholder='', required='')

            hr
            .form-group
                label.col-md-4.control-label(for='save') Lagre rom
                .col-md-4
                    button#save.btn.btn-success(name='save') Lagre

    script.
        $(function () {
            $('#save').on('click', function () {
                $.post('./', {
                    number: $('#number').val(),
                    price: $('#price').val(),
                }, function (data) {
                    window.location = 'list';
                });

                return false;
            });

        });
